@model IEnumerable<SubjectDTO>
@{
    ViewData["Title"] = "Lista przedmiotów";
    <link href="~/node_modules/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet" />
}

<h1>@ViewData["Title"]</h1>

<div class="well">
    <div class="form-group">
        <input type="button" value="Dodaj przedmiot" onclick="location.href='@Url.Action("CreateSubject", "Panel")'" />
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>Nazwa</th>
                <th>Opis</th>
                <th style="width: 36px;">Opcje</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var s in Model)
            {
                <tr>
                    <td>@s.Name</td>
                    <td>@s.Opis</td>
                    <td>
                        <i class="bi bi-trash"></i>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
