@model IEnumerable<InformationDTO>
@{
    ViewData["Title"] = "Home Page";
}

<h1>Komunikaty (@Model.Count())</h1>
<div class="well">
    <table class="table">
        <thead>
            <tr>
                <th>Data</th>
                <th>Tytuł</th>
                <th>Komunikat</th>
                <th style="width: 36px;"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var i in Model)
            {
                <tr>
                    <td>@i.UpdatedAt</td>
                    <td>@i.Title</td>
                    <td>@i.Contents</td>
                    <td>
                        <a href="user.html"><i class="icon-pencil"></i></a>
                        <a href="#myModal" role="button" data-toggle="modal"><i class="icon-remove"></i></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>