@model IEnumerable<StudentDTO>
@{
    ViewData["Title"] = "Oceny";
}

<h1>Moje oceny</h1>
<div class="well">
    <table class="table">
        <thead>
            <tr>
                <th>Przedmiot</th>
                <th>Oceny</th>
                <th>Prowadzący</th>
                <th style="width: 36px;"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var x in Model)
            {
                @foreach (var s in x.Grades)
                {
            <tr>
                <td>
                    @s.Subject.Name
                </td>
                <td>
                    @s.Value
                </td>
                <td>
                    @foreach (var t in s.Subject.TeacherSubjects)
                    {
                        @(t.Teacher.AcademicTitle + " " + t.Teacher.FirstName + " " + t.Teacher.LastName) <br />
                    }
                </td>
            </tr>
                }
            }
            </tbody>
    </table>
</div>