@model IEnumerable<SubjectDTO>
@{
    ViewData["Title"] = "Przedmioty";
}

<h1>Moje przedmioty</h1>
<div class="well">
    <table class="table">
        <thead>
            <tr>
                <th>Nazwa</th>
                <th>Opis</th>
                <th>Prowadzący</th>
                <th style="width: 36px;"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var s in Model)
            {
                <tr>
                    <td>@s.Name</td>
                    <td>@s.Opis</td>
                    <td>
                        @foreach (var t in s.TeacherSubjects)
                        {
                            @(t.Teacher.AcademicTitle + " " + t.Teacher.FirstName + " " + t.Teacher.LastName) <br />            
                        }
                    </td>
                    <td>
                        <a href="user.html"><i class="icon-pencil"></i></a>
                        <a href="#myModal" role="button" data-toggle="modal"><i class="icon-remove"></i></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>